{% form_theme addForm _self %}



    {{ form_start(addForm) }}{{ form_row(addForm) }}
    <button class="btn btn-primary " type="submit">
        Leave Review
    </button>
    {{ form_end(addForm) }}
    </div>

{# Customizing the Product form type #}

